@model WebApplication2.Models.Usuario

@{
    ViewBag.Title = "Edit";
}

<h2>Cambiar datos de contacto</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
   
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
           <p>Nombre</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Primer apellido</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellido1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apellido1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Segundo apellido</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellido2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apellido2, "", new { @class = "text-danger" })
            </div>
        </div>

      

                @Html.HiddenFor(model => model.ciudad)
                @Html.ValidationMessageFor(model => model.ciudad, "", new { @class = "text-danger" })

      

        <div class="form-group">
            <p>Email:</p>
            <div class="col-md-10">
                @Html.HiddenFor(model => model.email)
                
                @Html.TextBoxFor(model => model.email, new
           { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
          
            <div class="col-md-10">
                @Html.HiddenFor(model => model.password)
             
            </div>
        </div>
      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index", "Manage")
</div>
