@model WebApplication2.Models.Usuario
@{
    ViewBag.Title = "Editar Ciudad";
}

<h2>Cambiar Ciudad</h2>




@using (Html.BeginForm("EditCiudad", "Usuarios", FormMethod.Get))
{
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
         

            <div class="form-group">
                
                    <div class="col-md-10">
                        <p>
                           <font style="margin-right:5px;">Ciudad actual:</font> 
                            @Html.TextBoxFor(model => model.ciudad, new
                       { disabled = "disabled", @readonly = "readonly" })
                        </p>
                    </div>
                
            </div>
            <div class="form-group">
                
                    <div class="col-md-10">   
                        <p>
                            <font style="margin-right:5px;">
                                Nueva ciudad:</font>
                                @Html.DropDownList("ciudades")
</p>
                    </div>
               
            </div>
            

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
        <div>
            @Html.ActionLink("Volver", "Index", "Manage")
        </div>